<footer class="footer" style="padding-bottom:20px; ">
  <div class="container text-right">
    <hr>
    <a href="#" style="color:#bbb">Think&Share Company 2017 All rights reserved.</a>
  </div>
</footer>